.hamburger-menu {
  display: block;
  position: relative;
  top: 50px;
  left: 50px; 
  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}



.hamburger-menu ul a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}




$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.hamburger-menu ul a:hover {
  position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0; right: 0;
        height: 2px;
        background-color: rgb(156, 156, 156);
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}